name: Build

on:
  push:
    branches-ignore:
      - 'dependabot/**'
    tags-ignore:
      - '*'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  statuses: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 20.19

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint:report
        continue-on-error: true

      - name: ESLint Annotations
        uses: DerLev/eslint-annotations@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          eslint-report: eslint_report.json
